<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959342526674-j7hp246jk0i41d6f9mhtiogucvt64i0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959342526674-j7hp246jk0i41d6f9mhtiogucvt64i0s</string>
	<key>API_KEY</key>
	<string>AIzaSyA9nrgF73zII0ydr2SxMNfwBwsXYgzMJVM</string>
	<key>GCM_SENDER_ID</key>
	<string>959342526674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.RiderProvider</string>
	<key>PROJECT_ID</key>
	<string>riderprovider</string>
	<key>STORAGE_BUCKET</key>
	<string>riderprovider.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959342526674:ios:7d14d2eccabf90ddb22d0b</string>
</dict>
</plist>